

<button (click)="visible = !visible">{{visible? "hide":"show"}} gallery</button>
<div class="gallery" *ngIf="visible" >
<button (click)="play()">Play</button><button (click)="stop()">Stop</button>

  <!-- <img 
  *ngFor="let pic of pics; let i = index"
    class="roseFrame"
    [src]="pic.image"
    [alt]="pic.name" [title]="pic.name"
    (click)="setSelectedItem(pic)"
    [class.selectedPic]="pic === selectedPic"
  /> -->
  <div class="roseFrame" *ngFor="let pic of pics; let i = index">
    <img  [src]="pic.image"
    [alt]="pic.name" [title]="pic.name"
    (click)="setSelectedItem(pic)"
    [class.selectedPic]="pic === selectedPic">
    <h4>{{pic.name}}</h4>
  </div>

</div>