@import "./../../../variables.scss";
.my{
color: $mainFontColor;
width:fit-content;
margin: 10px auto;
}
.searchInput{
    height: $BtnH;
   background-color: $mainBgColor;
   border:none;
   border-bottom: 1px solid $headerBgColor;
   width: 500px;
   padding-left: 20px;
}

.searchDiv{
    width: fit-content;
    margin: auto;
}
.selectedFromGallery{
    width:200px;
    height:200px;
    border-radius: 50%;
}