/* You can add global styles to this file, and also import other style files */



body{
    background-color: rgb(137, 169, 185);
    color:rgb(2, 31, 38)
}
h1{
    text-align: center;
    text-transform: capitalize;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
