<h2>Users:</h2>
<div class="form">
    <div class="inputs">
        <input type="text" class="text" #name placeholder="user name">
    <input type="text" class="text" #userAvatar placeholder="avatar src">
    <input type="text" class="text" #userJob placeholder="job">
    <input type="text" class="text" #userphone placeholder="phone">
    <input type="text" class="text" #userDesc placeholder="info">
    </div>
    
    <button (click)="AddUser(name.value, userAvatar.value, userJob.value, userphone.value, userDesc.value );name.value=''; userAvatar.value=''; userJob.value=''; userphone.value=''; userDesc.value=''; ">Add</button>
</div>
<div class="container">

<div class="oneUser"  *ngFor="let user of users">
    <div class="delHolder">
        <div class="deleter" (click)="RemoveUser(user.name)">x</div>
    </div>
    
    <img [src]="user.avatar" alt=" No image">
    <p>Name: {{user.name}}</p>
    <p>Job: {{user.profession || 'not found'}}</p>
    <p>phone: {{user.phone || 'not found'}}</p>
    <p>Info: {{user.desc || 'not found'}}</p>
</div>
</div>