.newsBlock{
    max-width:500px;
    min-height:200px;
    padding:10px;
    text-align: justify;
    background-color:bisque;
    margin-bottom: 10px;
}
.newsDiv{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin:auto;
}