footer{
    background-color:cadetblue;
    padding: 10px;
    position: fixed;
    bottom: 0;
    min-height:100px;
    width: 100%;
    text-align: center;
    color:aquamarine;
}
p{
    font-size: '24px';
    font-family: 'Segoe Print';
}