<app-header></app-header>
<app-users></app-users>
<div [class]="myClass">
  <button (click)="change()">Click!</button>
</div>
<!-- <div [style]="myStyle">
  <button (click)="slide()">>></button>
</div> -->
<div [style.background-image]="myStyle">
  <button (click)="slide()">>></button>
</div>

<div class="delaying" *appDelay="2000">
  <h1>Delaying</h1>
   </div>



<div>
<h1 [style.color]="colorName">{{colorName}}</h1>
  <input type="text" #colorInput placeholder="enter a color">
  <button (click)="changeColor(colorInput.value)">Change</button>
</div>

<div class="myImg">
  <img [src]="mySrc" alt="mySrc" class="changeImg">
  <input type="text" #imgInput placeholder="enter an image src">
  <br />
  <button (click)="changeImg(imgInput.value)">Change</button>
</div>




<div class="colorizing" appColorize>
 <h1 class="clicker">Click!</h1>
</div>
<app-footer></app-footer>


