<header >
    <!-- <h1>{{headline}}</h1> -->
    <h3>Parent Component</h3>
    <h1>{{selectedItemFromChild}}</h1>

   <app-topic *ngIf="isVisible" [headline] = "headline" [list]="list" (itemSelected)="selectedItemFromChild =headline" appColorize>
<h3>Hello {{userName}}!</h3>
<p class="pBlack">Good night!</p>
   </app-topic>
   <button (click)="isVisible = !isVisible">{{isVisible?'Hide ':'Show '}}</button>
   
   <div class="topicContainer">
   
      <div *ngFor="let delay of [1000,2000,3000,4000,5000]"  appColorize #colorize="colorize">
         <app-topic *appDelay = "delay"  (click)="colorize.setRandomColor()"></app-topic>
      </div>
  
    </div>

</header>
