.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Roboto:wght@100&family=Rock+Salt&display=swap');

h2{
  font-family: 'Abel', sans-serif;
  font-family: 'Bellota Text', cursive;
  font-family: 'IBM Plex Sans Hebrew', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rock Salt', cursive;
 text-transform: uppercase;
 color:rgb(3, 132, 137);
 font-weight: bolder;
 font-size: xx-large;
}
.hearts{
  font-size: 50px;
  color:rgb(255, 0, 119);
}
.likes{
  font-size: 50px;
  color:rgb(255, 0, 119);
  font-weight: bold;
}
.vacationImage{
  margin:10px auto;
   width:500px;
    padding:10px;
    border: 5px solid rgb(207, 99, 246);
    background: white;
}
.whatIsIt{
  color:black;
  text-transform: lowercase;
  font-weight: bold;
}
h3{
  text-transform: uppercase;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.addLikesDiv{
  background:rgb(220, 243, 212);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
