.searchDiv{
    margin:10px auto;
    width:fit-content;
    padding: 10px;
}
.searchDiv input{
  background-color: burlywood;
  height:40px;
  border:none;
  width:400px;
  border-bottom: 1px solid white;
  padding-left: 20px;
}
.gitHbtn{
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    border: 3px double darkcyan;
    background: transparent;
    cursor: pointer;
    margin-left: 10px;
}
.gitHbtn:hover{
    background-color: cadetblue;
}
.searchSpan{
    font-weight: bold;
    text-transform: uppercase;
}
.users{
    margin: 20px auto;
    width: fit-content;
    display: flex;

}
.users img{
    height: 200px;
    border-radius: 50%;
}
.usersData{
    margin-left: 20px;
}