.carDiv{
    padding-top: 20px;
background-color: burlywood;
padding-bottom: 10px;
}

.smth{
background-color: cadetblue;
margin-top: 20px;
margin-bottom: 20px;
}
button{
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
font-weight: bold;
}
.btn-sm{
    font-size: 0.8em;
    padding: 0px 5px 5px 5px;
    line-height: 8px;
    margin: 0;
    vertical-align:middle;
}

