<div class="container smth">
    <h4>{{stringProperty}}</h4>
    <h5>{{numberProperty}}</h5>
    <h2>{{quantumPerfection}}</h2></div>
<div class="container carDiv">

<h1><mark>Car:{{name}} {{model}}</mark></h1>
<ul>
    <li><strong>Speed: </strong>{{speed}} km/h</li>
    <li><small><strong>Test: </strong>{{test}}</small></li>
</ul>


<div class="alert alert-success">
    <h3>Colors</h3>
<p><span>Car: </span><strong>{{colors.car}} </strong></p>
<p><span>Salon: </span><strong>{{colors.salon}}</strong> </p>
<p><span>Wheels: </span><strong>{{colors.wheels}} </strong></p>
</div>
<div class="alert alert-warning">
    <h3>Editing the object</h3>
    <button class="btn btn-danger" (click)="showEdit()">{{showHideEdit}} Editing</button>
    <form>
        <div class="form-group" *ngIf="isEditable">
            <input type="text" placeholder="Car name" class="form-control" [(ngModel)]="name" name="name"><br />
            <input type="number" placeholder="Speed" class="form-control" [(ngModel)]="speed" name="speed"><br />
            <input type="text" placeholder="Model" class="form-control" [(ngModel)]="model" name="model"><br />
            <input type="text" placeholder="MAin color" class="form-control" [(ngModel)]="colors.car" name="car"><br />
            <input type="text" placeholder="Salon color" class="form-control" [(ngModel)]="colors.salon" name="salon"><br />
            <input type="text" placeholder="Wheels" class="form-control" [(ngModel)]="colors.wheels" name="wheels"><br />
        </div>
    </form>
    <h3>Options</h3>
    <form (submit)="addOpt(option.value)">
        <div class="form-group">
            <label for="option">Adding new option:</label>
            <input type="text" id="option" placeholder="Enter smth" class="form-control" #option>
            <button type="submit" class="btn btn-outline-success">Add</button>
        </div>
    </form>
    <ul>
        <li *ngFor="let option of options; let i=index">{{i+1}} - {{option}} <button class="btn btn-danger btn-sm" (click)="deleteOpt(option)"> x </button> </li>
    </ul>

</div>
<h5>Choose the Car</h5>
<button class="btn btn-danger" (click)="carSelect('bmw')">BMW</button>
<button class="btn btn-success" (click)="carSelect('audi')">Audi</button>
<button class="btn btn-info" (click)="carSelect('mercedes')">Mercedes</button>
</div>