<div class="mt-[50px]">
  <h2 class="font-bold">About</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nulla nostrum
    voluptatum harum! Dolore in ducimus esse fugit. Vitae doloremque quo ipsa.
    Nam iure officiis, magnam exercitationem inventore similique dignissimos
    nihil non! Dolorem ipsum eos suscipit nihil! Ad nisi corrupti quas et sed
    sapiente commodi quia cumque, iure eaque voluptatem hic placeat perferendis
    libero inventore id? Molestiae soluta eligendi temporibus ipsa possimus
    vitae, molestias porro magnam, ab aliquid in officia neque quod culpa
    obcaecati explicabo suscipit velit. Veniam pariatur quibusdam quasi nam
    inventore amet reprehenderit voluptatibus iure quisquam. Fuga temporibus
    iste minus a id cum, cupiditate provident deserunt tempore adipisci velit
    error rem enim ipsa atque mollitia dolorum possimus suscipit explicabo
    voluptate nesciunt? Necessitatibus cum magnam iste, nisi animi quod alias
    illo, inventore optio earum iure facere. Voluptatem aut porro ea tenetur
    laborum, ipsam excepturi maiores. Adipisci et quas dolor qui possimus,
    obcaecati repellendus doloremque pariatur ducimus, totam odio molestias
    repellat ad numquam corrupti vero, eligendi iste perspiciatis aperiam eum
    nam recusandae necessitatibus itaque? Inventore reprehenderit cum ex id amet
    quaerat commodi accusantium explicabo aut earum pariatur enim voluptate
    minima, ab molestias. Aperiam ducimus perferendis dolor dolorum saepe
    laudantium tempora nam vitae ab nobis. Unde laborum amet non perferendis et.
  </p>
</div>
