.even{
    border-radius: 50%;
}
.odd{
    border-radius: 20px;
}
.first{
   height: 350px;
   border:5px solid salmon;
}
.last{
    height: 420px;
    border:5px solid slateblue;
 }
.picsDiv img{
 width:500px;
 margin:20px;
}
.picsDiv{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.picBtn{
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    border: 3px double darkcyan;
    background: transparent;
    cursor: pointer;

}
.picBtn:hover{
    background-color: cadetblue;
}
.invisible{
    display: none;
}
.visibilityBtn{
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    border: 3px double darkcyan;
    background: transparent;
    cursor: pointer;

}