
<div class="container">
    <app-details></app-details>
<app-skills></app-skills>
</div>
<div class="tirgulim">
    <div class="pipesA">
        <h1 appHideafter [hideafter]="5000">direct.A</h1>
        <p>dissapears on click</p>
    </div>
    <div class="pipesA" appScrolldown>
        <h1>direct.B</h1>
        <p>scrolls onto it</p>
    </div>
    <div class="pipesA">
        <h1>pipe A</h1>
        <p>{{minutes}} min = {{minutes | toMinHours}}</p>
    </div>
    <div class="pipesA">
        <h1>pipe B</h1>
        <p>bd:{{birthdate.toLocaleString()}}<br /> age:{{birthdate | age}}</p>
    </div>
</div>
<app-gallery-units [pics]="myPics"></app-gallery-units>