.inputDiv input{
    width:500px;
    height:40px;
    background-color:burlywood;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid white;
 font-family: 'Courier New', Courier, monospace;

}
.inputDiv{
    margin:20px auto;
    width:500px;
}