$mainFontColor: rgb(7, 25, 98);
$mainBgColor: rgb(162, 210, 249);
$headerBgColor:  darkcyan;
$headerTxtColor: white;
$buttonBgColor: $headerBgColor;
$buttonHooverBgColor: rgb(2, 44, 48);
$ButtonTxtColor:$headerTxtColor;
$BtnH:40px;
